@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 600%;
}
header {
    height: 500px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1419923/pexels-photo-1419923.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: rgba(20, 45, 77, 0.95); 
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav h2 {
    color: grey ;
    font-weight: 700;
    font-size: 35px;
}
nav h2 span {
    color: white;
    font-weight: lighter;
}
nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
}
main {
    background-color: rgba(20, 45, 77, 0.95); 
    height: 70%;
    display: flex ;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 30px;
}
main h1 {
    margin: 10px;
    font-size: 60px;
}
main button {
    width: 200px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.features {
    margin: 10px;
    padding: 20px;
    height: 600px;
    display: grid;
    gap: 15px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.features .element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.features i {
    margin: 5px;
    color: red;
    font-size: 40px;
}
.features  h2 {
    margin: 10px;
}
.works {
    margin: 10px 0;
    gap: 2px;
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}
.works .image1 {
    background-image: url("https://images.pexels.com/photos/669619/pexels-photo-669619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 300px;
    width: 4    00px;
}
.works .image2 {
    background-image: url("https://images.pexels.com/photos/209235/pexels-photo-209235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 300px;
    width: 400px;
}
.works .image3 {
    background-image: url("https://images.pexels.com/photos/714701/pexels-photo-714701.jpeg");
    background-size: cover;
    height: 300px;
    width: 400px;
}
.works .image4 {
    background-image: url("https://images.pexels.com/photos/461064/pexels-photo-461064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 300px;
    width: 300px;
}
.works .image5 {
    background-image: url("https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 300px;
    width: 400px;
}
.works .image6 {
    background-image: url("https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 300px;
    width: 400px;
    background-size: cover;
}
.works .image7 {
    background-image: url("https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 300px;
    width: 400px;
    background-size: cover;
}
.works .image8 {
    background-image: url("https://images.pexels.com/photos/614711/pexels-photo-614711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 300px;
    width: 300px;
    background-size: cover;
}
.team {
    padding: 40px;
    height: 700px;
    width: 100%;
}
.team .cards {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.team .card {
    height: 600px;
    width: 250px;
}
.team .number1 .person {
    width: 100%;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/1585634/pexels-photo-1585634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}
.team .text {
    padding: 5px;
}
.team .text h3 {
    margin: 10px 0;
    font-size: 25px;
}
.team .text p {
    color: grey;
}
.team .text .role {
    color: red;
    margin: 10px 0;
    font-size: 20;
}
.team .icons {
    padding: 5px;
}
.team .icons i {
    padding: 10px;
    color: lightgrey;
    border: 1px solid lightgrey;
}
.team .number2 .person {
    background-image: url("https://images.pexels.com/photos/1820934/pexels-photo-1820934.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.team .number3 .person {
    background-image: url("https://images.pexels.com/photos/28669447/pexels-photo-28669447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.team .number4 .person {
    background-image: url('https://images.pexels.com/photos/28370135/pexels-photo-28370135/free-photo-of-denis.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider {
    margin: 10px 0;
    width: 100%;
    height: 500px;
    display: flex;
}
.slider .left {
    background-image: url("https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    width: 50%;
    height: 100%;
    background-size: cover;
}
.slider .right {
    background-color: purple;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.slider .right .dots {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
    color: lightgrey;
    font-size: 10px;
}
.slider .right .dots i:nth-child(2) {
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.download {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.download h2 {
    font-weight: lighter;
}
.download p {
    font-weight: bold;
}
.download button {
    height: 40px;
    width: 250px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}